langchain>=0.1.0
langchain-ollama
langchain-openai
langchain-huggingface
langchain-mcp-adapters
langgraph
openai
cryptography
python-dotenv
mcp
fastapi
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pandas
python-dateutil
PyJWT
firebase-admin
llama-index
llama-index-graph-stores-neo4j
neo4j
graphrag
